@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
    background-color: #121212; /* Dark background default */
    color: #e0e0e0;
    font-family: 'Inter', system-ui, sans-serif;
}
